<h1>
    {{ hero.name }} Detail
</h1>

id : {{ hero.id }}
name:  {{ hero.name }}


<div>
    <label>name: </label>
    <input [(ngModel)]="hero.name" placeholder="name">
</div>


<a class="" [routerLink]="['new-hero']">Add Hero</a>


<div class="row">
    <div class="col-md-12">
        <router-outlet></router-outlet>
    </div>

</div>


<ul class="heroes">
    <li *ngFor="let hero of heroList" (click)="tikladim(hero)">
        <span class="badge">{{hero.id}}</span> {{hero.name}}

        <a [routerLink]="['/detail', hero.id]"> Detaylandır </a>

    </li>
</ul>

<hero-detail *ngIf="selectedHero" [detailHero]="selectedHero"></hero-detail>