<h3>Hero Detail</h3>

<div>
    <h2>{{detailHero.name}} details!</h2>
    <div><label>id: </label>{{detailHero.id}}</div>
    <div>
        <label>name: </label>
        <input [(ngModel)]="detailHero.name" placeholder="name"/>
    </div>
</div>